
<h1> Index - ToDo List </h1>
<br>
<br>
<br>
<button type="button" class="btn btn-default"><%= link_to 'Crear ToDo', todos_new_path%></button>

<br>
<br>
<br>
<% @todo.each do |todo| %>
  <div class="well" >
    <p> <strong>Descripción:</strong> <%= todo.description %></p>
    <p> <strong>Completado?:</strong> <%= todo.completed %> </p>
     <button type="button" class="btn btn-default"><%= link_to 'Editar', edit_path(todo.id) %></button>
     <button type="button" class="btn btn-default"><%= link_to 'Borrar', delete_path(todo.id), method: :delete %>  </button>   
     <button type="button" class="btn btn-default"><%= link_to 'Show', show_path(todo.id) %>  </button> 
     
  </div>
<% end %>