
<h1> Index - ToDo List </h1>
<br>
<br>
<br>
<%= link_to 'Crear ToDo', todos_new_path%>
<br>
<br>
<br>
<% @todo.each do |todo| %>
  <div class="well" >
    <p> <strong>Descripción:</strong> <%= todo.description %></p>
    <p> <strong>Completado?:</strong> <%= todo.completed %> </p>
      <%= link_to 'Editar', edit_path(todo.id) %>  
      <%= link_to 'Borrar', delete_path(todo.id), method: :delete %>  
     <%= link_to 'Show', show_path(todo.id) %>  
  </div>
<% end %>